*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.grey{
  background-color: rgba(235, 231, 231, 0.993);
}

.container{
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}
body{
  font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #3161e0;
}

  /*HEADER*/

main section .container{
  display: flex;
}

  /*MENU*/
header section{
  display: flex;
  background-color: #3161e0;
  height: 100px;
}

ul li{
  display: inline;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 10px;
}


.link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover{
  text-decoration: underline;
}

.link a {
  color: white;
  text-decoration:none;
  padding-right: 30px;
}



.login{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 8px;
  border-radius: 10px;
  border: none;
}
/*MENU*/

/*CONTENUTO*/
.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  max-width: 1500px;
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: white;
}

.jumbotron div h1{
  font-size:50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.jumbotron div p{
  font-size:20px;
  display: flex;
  justify-content: center;
}



/*CONTENUTO*/
/*HEADER*/


/*MAIN*/

main{
  background-color: #3161e0;
}

main h2{
  font-size: 40px;

}

main p{
  padding-top: 15px;
  font-size: 20px;
}


main section{
  min-height: 600px;
  min-width: 1000px;
}

.img-study{
  background-image: url(../img/item1.svg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  min-width: 60%;
}

.img-chillin{
  background-image: url(../img/item2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  min-width: 60%;
}

.img-coach{
  background-image: url(../img/item3.svg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  min-width: 60%;
}


section div aside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 600px;
  min-width: 40%;
  background-color: white;
}

.tecnologia{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 100px;
}

.img-chiamata{
  background-image: url(../img/item4-big.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 850px;
  min-width: 90%;
}

.scarica-bot{
  background-color: rgba(235, 231, 231, 0.993);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.scarica-bot h2{
  background-image: url(../img/stars.svg);
  background-size: cover;
  margin: auto;
  padding-bottom: 30px;
}

.mac-blu{
  margin: auto;
  max-width: 200px;
  background-color: #3161e0;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 15px;
  border-radius: 20px;
  border: none;
}




/*MAIN*/


/*FOOTER*/

footer>div{
  background-color: rgb(56, 52, 52);
}
footer h2, footer h3{
  color: #3161e0;
}

footer h2{
  font-size: 30px;
}


footer ul{
  padding-top: 20px;
  color: white;
  font-size: 15px;
}



footer .top{
  display: flex;
  margin: 0 auto;
  padding-top: 60px;
  width: 1200px;
  height: 500px;
}

footer .top .social{
  display: flex;
  width: calc(100% / 3);
  height: 100%;
  color: white;
}

footer .top .info{
  width: calc(100% / 6);
  height: 100%;
  

}

footer .bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px white solid;
  height: 80px;
  padding-top: 20px;
}

.registrati{
  max-width: 200px;
  background-color: #4f75e0;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 15px;
  border-radius: 20px;
  border: none;
}

.fa-brands{
  color: white;
}


/*FOOTER*/
